.dashboard {
	position: fixed;
	display: flex;
	justify-content: space-between;
	bottom: 1.5rem;
	width: 90%;
	height: 33rem;
	background-color: white;
	z-index: 20;
	color: black;
	border-radius: 1rem;
	padding: 1rem;
	box-sizing: border-box;

	& .chartDashboard{
		width: 100%;
	}
	& #closeDashboard{
		width: 2rem;
		height: 2rem;
		border-radius: 2rem;
		padding: 0;
	}

}

.disable {
	display: none;
}

form{
	display: flex;
	gap: 1rem;
	.filtros {
		height: 31rem;
		overflow: hidden;
		.filtrosCheck {
			display: flex;
			flex-direction: column;
			gap: 0.5rem;
			width: 16rem;
			height: 100%;
			padding: 1rem;
			overflow: scroll;
			box-sizing: border-box;
		}

		.filtrosCheck::-webkit-scrollbar{
			width: .5rem;
			height: .5rem;
			background-color: #252c3a;
		}

		.filtrosCheck::-webkit-scrollbar-track{
			background-color: #d4d4d4;
		}

		.filtrosCheck::-webkit-scrollbar-thumb{
			background-color: #252c3a;
			border-radius: 1rem;
		}
	}

	.satelites{
		width: 15rem;
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

	select{
		width: 12rem;
	}

	button {
		width: 12rem;
	}
}


